.footer {
  display: flex;
  flex: 1;
  background-color: #000000;
  color: white;
  min-width: 20%;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.logo {
  display: flex;
  justify-content: flex-start;
  max-width: 200px;
}
